[Desktop Entry]
Comment=Remembering XP
Name=DelfinoPlaza
X-KDE-PluginInfo-Author=Mark Whittaker
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Email=phobian@tutanota.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL3
X-KDE-PluginInfo-Name=delfinoplaza
X-KDE-PluginInfo-Version=2.5.1
X-KDE-PluginInfo-Website=
X-Plasma-API=5.0

[Wallpaper]
defaultWallpaperTheme=DelfinoPlaza
defaultFileSuffix=.png
defaultWidth=1920
defaultHeight=1080
