@import "../omarchy/current/theme/waybar.css";

* {
  background-color: rgba(0,0,0,0);
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 30px;
  font-family: 'PopJoy';
  font-size: 15px;
}

.modules-left {
	min-width: 150px;
  margin: 8.75px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);

  background-image:
  radial-gradient(circle at 2% 1%,
                  rgba(255,255,255,1),
                  rgba(255,255,255,0.0) 20%
  ),
  radial-gradient(circle at 90% 100%,
                  rgba(255,255,255,0.6),
                  rgba(255,255,255,0.0) 10%
  );
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3), inset 0 0 4px rgba(0, 0, 0, 0.2);
}

.modules-right {
  margin-right: 8px;
}
#workspaces {
	margin: 0px 10px;
}

#workspaces button {
  all: initial;
  padding: 0px 15px;
  margin: 0px 0px;
  background-image: url('../omarchy/current/theme/icons/workspaces_unselected_icon.svg');
	background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#workspaces button.active {
  background-image: url('../omarchy/current/theme/icons/workspaces_selected_icon.svg');
	background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#custom-omarchy{
  background-image: url('../omarchy/current/theme/icons/U_logo_dark.svg');
	background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 25px;
  margin-left: 10px;
}

#cpu,
#battery,
#pulseaudio,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 12px;
  margin-left: 10px;
}

#tray {
  margin-right: 16px;
}

#bluetooth {
  margin-right: 17px;
}

#network {
  margin-right: 13px;
}

#custom-expand-icon {
  margin-right: 18px;
}

tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}

#clock {
		margin: 0px 10px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 5px;
  font-size: 10px;
  padding-bottom: 1px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}

#custom-voxtype {
  min-width: 12px;
  margin: 0 0 0 7.5px;
}

#custom-voxtype.recording {
  color: #a55555;
}

#mpris{
	margin: 0 10px;
}
