@define-color selected-text #04C3CF;   /* Blu elettrico Wii U */
@define-color text #1A1A1A;            /* Testo principale (quasi nero) */
@define-color base #F9F9F9;            /* Superficie principale */
@define-color border #04C3CF;          /* Bordi leggeri azzurrini */
@define-color foreground #0A3A40;      /* Testo secondario / icone */
@define-color background #EAF7F9;      /* Background generale */

* {
	font-family: 'Utendo';
}

.box-wrapper {
	border-radius: 13px;
	border: 2px solid;
}

.input placeholder {
  font-family: 'PopHappiness';
}
